.navbar_Header {
    display: inline;
    text-align: center;
}

.navbar_Hr {
    margin: 0px -20px;
    border-top: 1px solid #ba890c;
}
body {
  margin: 0;
  font-family: "Avenir", sans-serif;
}

h3{
  font-family: "Segoe UI", sans-serif;
  color: gold;
}

#myfile{
  margin-left: 385px;
  position: absolute;
  margin-top: 150px;
}

#row{
  display: table-row;
}

label[for=gre]
{
    display: table-cell;
}

label[for=sInfo]
{
    display: table-cell;
}

label[for=percentile]
{
    display: table-cell;
}

#percentile{
  display: table-cell;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: #F2F3F4;
  color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.button-sidebar{
  background-color: #424949; /* balck */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 60px;
}
.button-sidebar:hover {
  background-color: white;
  color: black;
}
.mytable {
  width: 80%;
  text-align: left;
  border: 1px solid black;
  background-color: #424949;
  border-collapse: collapse;
  }
.mytable th {
  background-color: #626567;
  color: white;
  }
.mytable td,
.mytable th {
  padding: 10px;
  border: 1px solid #626567;
  }
#content {
  display: flex;
  margin-left: 210px;
}
.contentTable {
  margin-left: 210px;
}
.contentRight {
  float: right;
  margin-top: 370px;
  margin-left: 50px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 130%;
  overflow: auto;
  text-align: center;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: gold;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
