.navbar_Header {
    display: inline;
    text-align: center;
}

.navbar_Hr {
    margin: 0px -20px;
    border-top: 1px solid #ba890c;
}
body {
  margin: 0;
  font-family: "Avenir", sans-serif;
}

h3{
  font-family: "Segoe UI", sans-serif;
  color: gold;
}

#myfile{
  margin-left: 385px;
  position: absolute;
  margin-top: 150px;
}

#row{
  display: table-row;
}

label[for=gre]
{
    display: table-cell;
}

label[for=sInfo]
{
    display: table-cell;
}

label[for=percentile]
{
    display: table-cell;
}

#percentile{
  display: table-cell;
}

#content {
  display: flex;
  margin-left: 210px;
}

.contentRight {
  float: right;
  margin-top: 370px;
  margin-left: 50px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: gold;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
